{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Change Password</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Change Password
            </div>
            <div class="card-body">
                <form method="post" action="/changepassword">

                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputOldPassword" type="password" name="oldpassword" placeholder="Old password" />
                        <label for="inputOldPassword">Old Password</label>
                    </div>  
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Create a password" />
                        <label for="inputPassword">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputPasswordConfirm" type="password" name="confirmation" placeholder="Confirm password" />
                        <label for="inputPasswordConfirm">Confirm Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}